@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Prova</h2>
        <ul>
            <li>1</li>
            <li>2</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>colonna 2</h2>
        
    </div>
    <div class="col-md-3">
        <h2>colonna 3</h2>
        
    </div>
    <div class="col-md-3">
        <h2>colonna 4</h2>        
    </div>
</div>
