@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Prova</h2>
        <ul>
            <li>
                @Html.ActionLink("redis", "Redis", "Home")
               </li>
            <li>2</li>
        </ul>
    </div>

