@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Prova</h2>
        <ul>
            <li>
                @Html.ActionLink("Redis client", "Index", "Redis")
             </li>
            <li>
                 @Html.ActionLink("RabbitMQ client", "Index", "RabbitMQ")
            </li>
            
        </ul>
    </div>
</div>

